html,
body {
  height: 100%;
  width: 100%;
  justify-content: center;
  margin: 0;
  font-family: 'Montserrat', Geneva, Tahoma, sans-serif;
  background-color: white;
}

.contentWrapper {
  position: relative;
  /* Set the max width for the content */
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siteHeader {
  position: relative;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}

.siteFooter {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: 0.75rem;
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .siteHeader > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .siteFooter > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

.mainContent {
  position: relative;
  flex: 1 0 auto;
}

.mainContent section {
  max-width: 750px;
  margin: auto;
  display: block;
}

.mainContent p {
  text-align: justify;
  margin: 1rem;
}

h1, h2, h3 {
  margin: 1rem;
}

.exhibitions {
  position: relative;
  text-align: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .exhibitions > li {
    display: flex;
    flex-direction: row;
  }

  .exhibitionsDate {
    flex-basis: 25%;
    display: block;
    margin: 0 1rem auto auto;
  }

  .exhibitionsDate > p {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .exhibitionsDescription {
    flex-basis: 75%;
  }

  .exhibitionsDescription > h3 {
    font-size: 1rem;
    margin: 0;
  }

  .exhibitionsDescription > p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    text-align: left;
  }
}
@media screen and (max-width: 750px) {
  .exhibitionsDescription > h3 {
    font-size: 1rem;
  }

  .exhibitionsDescription > p {
    font-size: 0.8rem;
    text-align: left;
  }
}

.exhibitions  hr {
  border: 0;
  height: 1px;
}

@media screen and (max-width: 750px) {
  .exhibitions  hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  }
}
@media screen and (min-width: 750px) {
  .exhibitions  hr {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.contacts {
  /* Set the max width for the content */
  position: relative;
  text-align: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .contacts > li {
    display: flex;
    flex-direction: row;
  }

  .contactsType {
    flex-basis: 40%;
    margin: 0 1rem auto;
    padding: 0;
    text-align: right;
  }

  .contactsDetails {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .contacts > li {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .contactsType {
    margin: 0.5rem 1rem 0;
    padding: 0;
  }

  .contactsDetails {
    margin: 0 1rem;
    padding: 0;
  }
}
