html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.contentWrapper {
  position: relative;
  /* Set the max width for the content */
  flex-basis: 900px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siteHeader {
  position: relative;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}

.fadedRule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.mainContent {
  position: relative;
  flex: 1 0 auto;
}

.mainContent section {
  max-width: 750px;
  margin: auto;
  display: block;
}

.mainContent p {
  text-align: start;
  margin: 1rem;
}

h1, h2, h3 {
  margin: 1rem;
}

.siteFooter {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: 0.75rem;
}

.exhibitions {
  /* Set the max width for the content */
  position: relative;
  text-align: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .exhibitions > li {
    display: flex;
    flex-direction: row;
  }

  .exhibitionsDate {
    flex-basis: 25%;
    /* Set the max width for the content */
    display: block;
    margin: 0 1rem auto auto;
  }

  .exhibitionsDate > p {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .exhibitionsDescription {
    flex-basis: 500px;
    /* Set the max width for the content */
  }

  .exhibitionsDescription > h3 {
    font-size: 1rem;
    margin: 0;
  }

  .exhibitionsDescription > p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}
