html,
body {
  height: 100%;
  width: 100%;
  justify-content: center;
  margin: 0;
  font-family: 'Montserrat', Geneva, Tahoma, sans-serif;
  background-color: white;
}

.contentWrapper {
  position: relative;
  /* Set the max width for the content */
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siteHeader {
  position: relative;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}

.siteFooter {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: 0.75rem;
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .siteHeader > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .siteFooter > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

.mainContent {
  position: relative;
  flex: 1 0 auto;
}

.mainContent section {
  max-width: 750px;
  margin: auto;
  display: block;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mainContent p {
  text-align: justify;
  margin: 1rem;
}

h1, h2, h3 {
  margin: 2rem;
}

.contacts {
  /* Set the max width for the content */
  position: relative;
  text-align: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .contacts > li {
    display: flex;
    flex-direction: row;
  }

  .contactsType {
    flex-basis: 40%;
    margin: 0 1rem auto;
    padding: 0;
    text-align: right;
  }

  .contactsDetails {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .contacts > li {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .contactsType {
    margin: 0.5rem 1rem 0;
    padding: 0;
  }

  .contactsDetails {
    margin: 0 1rem;
    padding: 0;
  }
}

/* Gallery styles */

.galleryContainer {
  position: relative;
}

.galleryButtonText {
  position: relative;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: gray;
  padding: 0.5rem;
}

.galleryButtonText:focus {
  outline: none;
}

.galleryButtonText:active {
  color: gainsboro;
}

.galleryButtonTextLeft {
  float: left;
}

.galleryButtonTextRight {
  float: right;
}

.galleryButton {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: gainsboro;
  text-align: center;
  text-decoration: none;
  font-size: 48px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.galleryButtonLeft {
  float: left;
}

.galleryButtonRight {
  float: right;
}

.galleryButton:hover {
  color: gray;
}

.galleryButton:focus {
  outline: none;
}

.galleryButton:active {
  color: gainsboro;
}

.galleryList {
  display: inline-block;
  height:500px;
  width: 600px;
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.galleryItem {
  position: absolute;
  width: inherit;
  align-items: center;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.galleryItemContainer {
  margin: auto;
  width: fit-content;
}

.galleryItemVisible {
  visibility: visible;
  opacity: 1;
}

.galleryDescription {
  height: fit-content;
}

.galleryDescription > p {
  font-size: 0.8rem;
  line-height: 0.5;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}

.galleryImage {
  max-height: 400px;
  object-fit: contain;
}

@media screen and (max-width: 750px) {
  .galleryButton {
    display: none;
  }

  .galleryButtonText {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .galleryList {
    width: 100%;
  }

  .galleryImage {
    width: 100%;
    height: auto;
  }

  .galleryDescription {
    margin-right: 2rem;
  }
}
